@font-face {
    font-family: TBCX;
    src: url('../fonts/TBCXRegular.dee156cc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}
@font-face {
    font-family: TBCX;
    src: url('../fonts/TBCXBold.6db5e61d.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    
}
* {
    box-sizing: border-box;
}
body {
    color: #555f62;
    background-color: #f9fafa;
    font-family: TBCX;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    

}
.app-bar{
    height: 80px;
    z-index: 100;
    border-bottom: 1px solid #eef1f1;
    background-color: #ffff;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #555f62;
    line-height: 1.7;
    box-sizing: border-box;
    display: block;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding-left: 47px;
    padding-right: 47px;
    padding-top:8px;

}
.app-bar-container{
    z-index:103;
    height:100%;
    width:100%;
    max-width:1110px;
    grid-column-gap: 32px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right:auto;
    position:relative;
    align-items:center;
    margin-left:auto;


}
.app-bar-tbc{
    width:165px;
    
}
.app-bar-nav{
    height:100%;
    grid-column-gap:32p;
    gap:32px;
    font-weight: normal;
    flex:1;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-bottom:8px;
    margin-right: 35px;
    display: flex;
    color: #222;    
    font-size:16px;
    text-align: left;
    white-space: nowrap;


}
.search-box{
    padding:8px;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:15px;
}
.app-bar-buttons{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    flex-direction:row;
    column-gap:16px;
}
.hreflink-blue{
    color:#182cc0;
    display:flex;
    flex:none;
    flex-direction: row;
    align-items: center;
    gap:6px;    
    font-weight: 700;
    line-height: 0.8;
    padding-bottom:6px;
}


.language-box{
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items:center;
    flex-direction: row;
    font-weight: 700;
    font-size:16px;
    border-radius:4px;
    gap:4px;
    justify-content: center;
    line-height: 1.4;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:2px;

}
.lang{
    padding-bottom: 6px;
}
#concept-label-container{
    width:100%;
    height:70px;
    padding: 24px 0px 24px 0px;
    }
#concept-page-label{
    font-weight: 500;
    font-size: 12px;
    color:#141719;
    
}
.application-body-padding{
    width: 100%;    
    height:101px;
}
#app{
    width:100%;
    height:100vh;
    padding-left:205px;
    padding-right:195px;
    margin-top:80px;
    
    
}
.container{
    max-width:1110px;
    width:100%;
    margin-left:auto;
    height:100%;
    max-height:376.35px;
    min-width:500px;
    position:relative;
    
    



}
.image-container{
    position: relative;
    overflow: hidden;
    border-radius:6px;
    height:100%;
    margin: 0 auto;
    z-index:1;
    background-color: black;
    



}

#background1{
    border-radius: 6px;
    object-fit: cover;
    width:100%;
    height:100%;
    position:relative;
    bottom:39.5px;
    
}

.background-image-wrapper{

    width:1110px;
    background-color: black;
    z-index:2;
    overflow:hidden;
    position:relative;
    opacity: 0.7;
    
}
.label-for-background{
    color: white;
    z-index:2;
    display:flex;
    flex-direction:column;
    margin:auto;
    position:relative;
        bottom: 490px;
    padding:95px;
    font-weight: 400;

}
.label-content{
    max-width:540px;
}
.no-wrap{
    white-space: nowrap;
}
.vertical-spacing{
    height:24px;
   

}
p{
    margin-bottom: 0;
    margin-top:13px;
    display:block;
    font-size:16px;
}
h1, p, h2, h3{
    margin-bottom:0;
    /* margin-top:0; */
}
.button-textcontent{
    margin-top:2px;
}
.button-icon{
    margin-top:10px;
}
.button-container{
    background-image: linear-gradient(15deg, #001682, #3240e5);    width:152px;
    height:49.95px;
    width:151.15px;
    color:white;
    border-radius:4px;
    align-items: center;
    justify-content:center;
    padding:16px 24px;
    display:flex;
    flex-direction:row;
    grid-column-gap:6px;
    line-height: 1.33;
    font-size:12px;
    font-weight:700;
}








/* Media Query for larger screens */
@media (min-width: 600px) {
    body {
        flex-direction: column;
    }

    /* #app {
        width: 50%;
        max-width: 600px;
    } */
}
