@charset "UTF-8";
@font-face {
    font-family: TBCX;
    src: url('../fonts/TBCXRegular.dee156cc.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    
}
@font-face {
    font-family: TBCX;
    src: url('../fonts/TBCXBold.6db5e61d.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    
}
@font-face {
    font-family: TBCX;
    src: url('../fonts/TBCXMedium.8ef1248a.woff2') format('woff2');
    font-weight:500 ;
    font-style:normal;
}
:root {
    --global-padding-left: 166px;
    --global-padding-right: 0px;
}   
.smooth-scroll-container{
        position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow:hidden;
    height:5500px;
   
}


* {
    box-sizing: border-box;
    
}
ul{
    list-style-type: none;
    margin-left:0;
    padding-left:0;
}
body {
    color: #555f62;
    background-color: #f9fafa;
    font-family: TBCX;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    margin:auto;

    
    

}

.horizontal-padding{
    padding-left:47px;
    padding-right:47px;
    width:100%;
}
.app-bar{
    height: 80px;
    z-index: 100;
    border-bottom: 1px solid #eef1f1;
    background-color: #ffff;
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #555f62;
    line-height: 1.7;
    box-sizing: border-box;
    display: block;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding-left: 47px;
    padding-right: 47px;
    padding-top:8px;

}
.app-bar-container{
    z-index:103;
    height:100%;
    width:100%;
    max-width:1110px;
    grid-column-gap: 32px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right:auto;
    position:relative;
    align-items:center;
    margin-left:auto;


}
.app-bar-tbc{
    width:165px;
    
}
.app-bar-nav{
    height:100%;
    grid-column-gap:32p;
    gap:32px;
    font-weight: normal;
    flex:1;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-bottom:8px;
    margin-right: 35px;
    display: flex;
    color: #222;    
    font-size:16px;
    text-align: left;
    white-space: nowrap;
    
    
    


}
.search-box{
    padding:8px;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:15px;
    transition: color 0.3 ease;
}
.app-bar-buttons{
    display:flex;
    align-items:center;
    justify-content: center;
    margin:auto;
    flex-direction:row;
    column-gap:16px;
}
.hreflink-blue{
    color:#182cc0;
    display:flex;
    flex:none;
    flex-direction: row;
    align-items: center;
    gap:6px;    
    transform: color.6s ease-out;
    font-weight: 700;
    line-height: 0.8;
    padding-bottom:6px;
}
.hreflink-blue:hover{
    color:#0096FF;
}


.language-box{
    height: 36px;
    cursor: pointer;
    display: flex;
    align-items:center;
    flex-direction: row;
    font-weight: 700;
    font-size:16px;
    border-radius:4px;
    gap:4px;
    justify-content: center;
    line-height: 1.4;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:2px;

}
.lang{
    padding-bottom: 6px;
}
#concept-label-container{
    width:100%;
    height:70px;
    padding: 24px 0px 24px 0px;
    padding-left:var(--global-padding-left);
    }
#concept-page-label{
    font-weight: 500;
    font-size: 12px;
    color:#141719;
    
}
#app{
    width:100%;
    height:100vh;
    display: flex;
    align-items: start;
    margin-top:80px;
    flex-direction: column;

    
    
}
.container{
    max-width:1127px;
    width:100%;
    height:100%;
    max-height:376.35px;
    position:relative;
    margin-left:var(--global-padding-left);
    margin-right:var(--global-padding-left);

}
.statistics-container{
    width:1110px;
    height:100%;
    max-height:376.35px;
    position:relative;
    margin-left:var(--global-padding-left);
    margin-right:var(--global-padding-left);
}

.image-container{
    position: relative;
    overflow: hidden;
    border-radius:8px;
    height:100%;
    margin: 0 auto;
    z-index:1;
    background-color: black;
}


.vertical-padding{
    padding-top:30.5px;
}

#background1{
    border-radius: 6px;
    object-fit: cover;
    width:100%;
    height:100%;
    position:relative;
    bottom:39px;
    
    
}

.background-image-wrapper{
    width:100%;
    background-color: black;
    z-index:2;
    overflow:hidden;
    position:relative;
    opacity: 0.7;

}
.label-for-background{
    color: white;
    z-index:2;
    display:flex;
    flex-direction:column;
    margin:auto;
    position:relative;
    bottom: 490px;
    padding:95px;
    font-weight: 400;
    

}
.label-content{
    max-width:540px;
}
.no-wrap{
    white-space: nowrap;
}
.vertical-spacing{
    height:24px;
   

}
p{
    margin-bottom: 0;
    margin-top:13.5px;
    display:block;
    font-size:16px;
}
h1, p, h2, h3{
    margin-bottom:0;
}
.button-textcontent{
    margin-top:2px;
}
.button-icon{
    margin-top:4px;
}

.button-container {
    position: relative; 
    background-color: #3298db; 
    width: 151.15px;
    height: 49.95px;
    color: white;
    border-radius: 4px;
    align-items: center;
    justify-content: center; 
    padding: 16px 24px;
    display: flex;
    flex-direction: row;
    grid-column-gap: 6px;
    line-height: 1.33;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out; 
}
.button-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(15deg, #001682, #3240e5); 
    transition: opacity 0.5s ease-in-out; 
    z-index: 0; 
    border-radius: inherit; 
}

.button-container:hover::before {
    opacity: 0; 
}
.button-container *{
    z-index:1;
}

.vertical-padding-bottom{
    padding-top:32px;
}
.vertical-padding-big{
    padding-top:120px;
}
.header-label-big{
    padding-top:88px;
    color:#141719;;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    padding-left:var(--global-padding-left);
    padding-right:var(--global-padding-left);
    
}
.big-header-paragraph{
    margin-top:0px;
    font-size:36px;
    font-weight:500;
    line-height:1.5;
}
h2{
    color:#141719;
}
.regular-header{
    font-size:24px;
    font-weight:700;
    line-height: 1.5;
    padding-top:6px;
    margin-bottom:36px;
    
}
.two-column-grid{
    grid-row-gap: 30px;
    grid-column-gap:30px;
    grid-template-rows: 256px 256px;
    grid-template-columns: 540px 540px;
    grid-auto-columns: 1fr;
    display: grid;
    flex-wrap: wrap;
}


.content-window{
    width:540px;
    height:265px;
    border-radius: 6px;
    z-index: 2;
}
.background{
    width:100%;
    height:100%;
    border-radius:6px;
    object-fit: cover;
    position: relative;
    transition: all 0.6s ease;

    

}
.fab{
    position:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.background:hover{
    transform:scale(1.09);
}
#close-button{
    visibility: hidden;
    bottom:20px;
    position:absolute;

}
#fab-icon{
    visibility: visible;
    top:20px;
}


#fab-menu{
    position:fixed;
    display:none;
    bottom:90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index:99;

}

.hover-text-container {
    position: relative; 
    display: flex;
    right:0;
    z-index: 99;
    margin-left:calc(100vw - 265px);
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: red;
}
.hover-text {
    position: absolute;
    transform: translateY(-50%); 
    display: none;
    padding: 10px;
    background-color: #333;
    color: white;
    font-size:12px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 150px;
    z-index: 20; 
}
.language-box{
    display:flex;
    width:67px;
    height: 36px;;
    position: relative;
    margin-bottom:10px;
    

    
}
.lang-container {
    display: none; 
    position: absolute; 
    width:68px;
    height:56px;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: 600;
    background-color: white;
    padding: 10px; 
    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 20; 
    transition: background-color .25s ease-in-out;
    
}

.language-box:hover .lang-container{
    display:flex;

    
}

.language-box:hover{

    background-color: #f2f2f2

}

.hover-text-container:hover .hover-text {
    display: flex; 
    opacity: 1; 
}

.grid-container{
    padding-left: var(--global-padding-left);
}
.content-window-vertical{
    width:540px;
    height:542px;
    z-index:3;
    border-radius:6px;

}
.grid-textcontent{
    
    z-index:100;
    display:flex;
    font-size:20.5px;
    flex-direction:column;
    margin:auto;
    position:relative;
    bottom: 150px;
    padding-left:40px;
    font-weight: 700;
    color:white;
    line-height:30px;
    padding-top:6px;
    
}
.transparent-button>p{
    font-size:14px;
}
.transparent-button{
    text-decoration: underline;
    display:flex;
    flex-direction: row;
    letter-spacing: 1.4;
    margin-top:4px;
    align-items: end;
    gap:5px;
}
.statistics-grid{
    display:flex;
    gap:30px;
    flex-direction:row;
    

}
.statistics-grid-item{
    width:350px;
    height:180px;
    border-radius:6px;
    background-color: white;
    display:flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    padding: 48px 40px 48px 40px;

}
.item-content{
    width:254;
    height:100.400;
    display:flex;
    flex-direction: column;
    align-items: start;
}
.statistics-number{
    font-size:44px;
    color:black;
    font-weight:700;
}
.statistics-meaning{
    color:rgb(85, 95, 98);
    font-size:16px;
    font-weight:500;    
}
.header-row-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:1110px;
    margin-left:var(--global-padding-left);
}
.header-wrapper{
    padding-left:var(--global-padding-left);
    display:flex;
    flex-direction:row;
    align-items: flex-start;
}
.e-banking{
    width:100%;
    height:414px;
    background-color: white;
    display:flex;
    flex-direction:row;
}
.e-banking-section-content{
    width:80%;
    padding-top:32px;
    margin-top:38px;
    line-height:27.2px;
}
.e-banking-body{
    color:rgb(85, 95, 98);
    font-size:16px;
    font-weight:400;
}
.store-buttons{
    display:flex;
    flex-direction:row;
    column-gap:16px;
    padding-left:var(--global-padding-left);
    
}
.button-icon-container{
    width:68px;
    height:17px;
    
}

.button-container-white{
    margin-top:32px;
    width:134px;
    height:51px;
    background-color:white;
    border: 1px solid #e1e4e5;
    align-items: center;
    justify-content:center;
    display:flex;
}

.phone-container{
    margin-right:150px;
    padding-top:40px;
    width:500px;
    display:flex;
    flex-direction:row;
    align-items: flex-start;

}

#private_banker{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.small-container-for-image{
    max-width:1127px;
    width:100%;
    height:100%;
    max-height:350px;
    position:relative;
    margin-left:var(--global-padding-left);
    margin-right:var(--global-padding-left);

}
.label-margin{
    margin-top:105px;
}
.glossary{
    width:100%;
    background-color:white;
    height:600px;
}
.glossary-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;

}
.black-logo{
    color:black
}
.glossary-header-container{

    margin-left:var(--global-padding-left);
    margin-top:40px;
    display:flex;
    flex-direction:row;
    width:1110px;
    justify-content: space-between;
}
.glossary-list-grid{
    margin-top:40px;
    width:1110px;
    margin-left:var(--global-padding-left);
    display:flex;
    flex-direction:row;
    align-items: start;
    column-gap: 16px;
}
.grid-list{
    width:265px;
    font-size:16px;
    gap:20px;
    display:flex;
    flex-direction:column;
    
    
}
.list-header{
    color:black;
}
.gray-link-text{
    display: flex;
    text-decoration-line: underline;
    font-weight:500;
    line-height: 1.3;
    gap:10px;
    width:200px;
    color:rgb(85, 95, 98)

}
.vertical-padding-small{
    padding-top:10px;
}
.social-media-icons{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.social-media-icon-container{
    border-radius:6px;
    width:40px;
    height:40px;
    background-color: #f9fafa;
    display:flex;
    align-items: center;
    justify-content: center;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;

    
}



.social-media-icon-container:hover{
    color:blue;
    background-color: #b2b2b2eb
}
.copyright-info-bar{
    width:100%;
    height:100px;
    border-top: 1px solid #eef1f1;
}
.logo-bar{
    width:21px;
    height:32px;
}
.cursor-pointer{
    cursor:pointer;
}
.drop-down-menu-container{
    display:flex;
    flex-direction: row;
    padding-left: calc(var(--global-padding-left) + 47px);
    
}


.menu-items > li{
    border-top:#001682;
    list-style-type: none;
    padding-top:20px;
    color:rgb(20, 23, 25);
    font-size:14px;
    font-weight:500;
    cursor:pointer;

    
}
#product-menu-items{
    margin-left:45px;
    width:120px;

}
#offers-menu-items{
    margin-left:190px;
    width:130px;

}
#concepts-menu-items{
    margin-left:335px;
    

}
.animated-border {
    position: relative;
    overflow: hidden;
}

.animated-border::after {
    content: '';
    position: absolute;
    bottom: 98.5%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: rgb(24, 44, 192);
    transition: width 0.5s ease;
    transform: translateX(-50%);
}
.search-box:hover{
    color: rgb(85, 95, 98)

}
.decoreless-link{
    text-decoration: none;

}
.kits{
    transition: color 0.3 ease;

}
.kits:hover{
    color:rgb(85, 95, 98);
}
.logo-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width:78px;
    height:56px;
    background-color: white;
    border-radius:10px;
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    position:relative;
    left:271px;
    bottom:200px;
}
.logo-item-image{
    border-radius:10px;
    width:100%;
    max-height:50px;
   
}

.animated-border.show::after {
    width: 100%;
}
.menu-image-card{
    display:flex;
    flex-direction: column;
}
.image-footer{
    justify-content: start;
    color:blue;
    display:flex;
    align-items: center;
    gap:10px;
}

.drop-down-menu{
    
    display:flex;
    position:absolute;
    top: 100%;
    z-index:1000;
    width:100vw;
    opacity: 0;
    left:0;
    height:0;
    background-color: white;
    box-sizing: border-box;
    flex-direction: column;
    overflow: hidden;
    transition: opacity 1s ease, height 0.3s ease;

}

.drop-down-menu.show {
    display: flex;
    flex-direction: row;
    opacity: 1;
    height: 250px; 
}

.drop-down-menu > li {
    list-style-type: none;
    display:block;
    padding-top:20px;
    z-index:1000;
}

.footer-bar-items{
    padding-left:var(--global-padding-left);
    padding-right:var(--global-padding-left);
    display:flex;
    flex-direction: row;
    color:rgb(85, 95, 98);
    font-weight:400;
    font-size:12px;
    justify-content: space-between;
}
.footer-links{
    width:300px;
    gap:20px;
    display:flex;
    flex-direction: row;
}
.footer-link{
    cursor:pointer;
    transition: color .25s ease-in-out;
}
.footer-link:hover{
    color: #182cc0;
    
    
}
.slider-wrapper .image-list{
    user-select: none;
    display:grid;
    cursor:grab;    
    gap: 20px;
    scrollbar-width:none;
    grid-template-columns: repeat(6, 1fr);
    overflow-x:scroll;
}

.categories{
    display:flex;
    flex-direction: column;
}
.category{
    display:inline;
    margin-left:10px;
}
.image-list img {
    pointer-events: none;
}
.slider-wrapper .image-list::-webkit-scrollbar{
    display:none;

}
.slider-wrapper{
    width:1140px;
}
.image-list{
    height:410px;
}
.slider-wrapper .image-list .image-item{
    width:349px;
    height:200px;
    max-height: 213px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: all 0.2 ease;
}
.slider-wrapper .image-list .logo-item{
    width:118;
    height:52px;
    max-height: 213px;
    object-fit: cover;
    margin-left:28px;
    margin-top:28px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    transition: all 0.2 ease;
}
.image-item:hover{
    transform:scale(1.05);
}
.imamge-item{
    overflow-x:clip;
    overflow-y: clip;
}
.slider-container{
    position:relative;
    z-index:1;
    margin-left:calc(var(--global-padding-left) - 48px);
    width:1140px;
    height:500px;
    overflow:visible;
    
}
.category{
    margin-left: 0px;
    margin-right:20px;
}
.slider-padding{
    padding-left:35px;
}
.image-card{
    position:relative;
    z-index:2;
    margin-left:10px;
    cursor:grab;
    width:350px;
    height:391px;
    border: 0.5px solid #e1e4e5;
    border-radius:8px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap:30px;
    transition: all 0.5s ease;
}
.logo-card{
    background-color: white;
    position:relative;
    z-index:2;
    margin-left:10px;
    cursor:grab;
    width:348px;
    height:269.8px;
    border-radius:8px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    row-gap:30px;
    transition: all 0.5s ease;
}
.image-card:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1); 
    transform: scale(1.005);

}
.fab {
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:4000;
    bottom: 20px;
    right: 20px;
    width: 56px;
    height: 56px;
    background-color: rgba(66, 74, 77);
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.fab:hover {
    background-color: rgba(66, 74, 77, 0.8);;
}


.fab:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
a > .card-info-categories{
    color:rgb(111, 120, 123) ;
}
a > .card-info-header{
    color:rgb(20, 23, 25);
}
a:link, a:visited {
    color: inherit; 
    text-decoration: none; 
}   

.card-info{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items:start;
    row-gap:30px;
    padding-left:30px;
    position:relative;
    bottom:80px;
    
}
.card-info-categories{
    color:rgb(111, 120, 123) ;
    font-size:12px;
    font-weight:700;
}
.card-info-header{
    font-weight:700;
    font-size:16px;
    color:rgb(20, 23, 25);
    overflow: hidden;
}
.description{
    width:295px;
    height:92px;
    overflow: hidden;
    max-height:92px;
}
.hoverable-link{
    transition: color 0.2 ease-in-out;
}
.hoverable-link:hover{
    color:blue;
}


.slider-container .slider-scrollbar {
    height:30px;
    width:100%;
    display:flex;
    align-items:center;
}

.slider-scrollbar .scrollbar-track {
    
    position:relative;
    z-index:1;
    margin-top:20px;
    height:2px;
    width:100%;
    background: rgb(209, 213, 214);
    border-radius:inherit;
    cursor:grab;
    border-radius:1px;
}
.slider-scrollbar .scrollbar-thumb{
    position:absolute;
    height:100%;
    width:30%;
    background:blue;
}


.slider-row{
    min-width:300px;
    max-width:1110px;
    position:relative;
    gap:30px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.slider-buttons-icons{
    display:flex;
    flex-direction:row;
    margin-top:15px;
    gap:10px;
}
#arrow-right{
    fill:blue;
}
.awards-paragraph{
    font-size:14px;
    color: rgb(85, 95, 98);
    padding-bottom:28px;

}
.awards-header{
    font-size:16px;
    color:#141719;
    padding-right:28px;
    margin-bottom:-28px;

}
.footer-phone-image{
    display:none;
    margin-top:50px;
    margin-left:50px;
    padding-bottom:50px;
    width:230px;
}
.download-button{
    display: none;
    margin-top:50px;

    width: 500px;
    border: 1px solid blue;
    margin-left:50px;
}

@media (max-width: 900px){
    .footer-phone-image{
        display: flex;
    }
    .download-button{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-self: center;
        height:100px;
        border-radius:6px;
    }



}
@media (max-width: 1132px){
    .app-bar-nav{
        display:none;
    }
}
@media (max-width: 500px){
    .two-column-grid{
        width: 350px;
    }

}
@media (max-width: 800px){
    .two-column-grid{
        width: 400px;
    }

}
@media (max-width: 900px){
    .container{
        width:723px;
        height:450px;
    };
    .image-container{
        width:723px;
        height:450px;
    }
    .background-image-wrapper{
        width:723px;
        height:450px;
    }
    .header-label-big{
        width:500px;
    }
    .two-column-grid{
        width: 500px;
        grid-template-rows: 200px 200px;
        grid-template-columns: 300px 300px;
        
    }
    .label-for-background{
        width:740px;
    }
    .image-container{
        width: 720px;
    }
    .small-container-for-image{
        width:740px;
    }
    .header-wrapper{
        width:400px;
        padding-top:0px;
        margin-top:0px;
    }
    .phone-container{
        margin-left: 47px;
    }
    .e-banking{
        flex-direction: column;
        height:900px;
        margin-bottom:150px;
        padding-left: var(--global-padding-left);
    }
    .store-buttons{
        display:none;
    }
    
    .statistics-grid{
        flex-direction: column  ;
        width:100%;
    }
    .statistics-grid-item{
        width:100%;
    }
    .statistics-container{
        width:600px;
    }
    .content-window-vertical{
        width: 270px;
    height: 430px;
    }
    .smooth-scroll-container{
        height:6500px;

    }

}


@media (max-width: 1023px ){
    .arrow-button{
        display: none !important;
    }
    .two-column-grid{
        width:800px;
    }
    .smooth-scroll-container{
        height:6300px;

    }
    .glossary{
        width:1000px;
        margin-top:-250px;
        padding-top:0px;
    }

    
}

@media (max-width: 1320px){
    .slider-row{
        margin-right: var(--global-padding-right);
    }
}





@media (min-width: 600px) {
    body {
        flex-direction: column;
    }

    
}

